@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
:root {
  --primary: #3a98d4;
  --secondary: #79cadc;
  --accent: #4a6884;
  --secondary-accent: #91a2ab;
  --bg-primary: #fefeff;
  --bg-secondary: #d6e6ea;
  --text: #1c1c1c;
  --success: #92eeb2;

  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka", Roboto, system-ui, "Segoe UI", Helvetica, arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segore UI Symbol";
  font-weight: 400;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fredoka";
  font-weight: 600;
}

html {
  font-size: 18px;
} /* 16px */

h1 {
  font-size: 3.58rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4,
.h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5,
.h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
.main {
  margin: auto;
  max-width: 500px;
  padding: var(--space-3x);
}

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.accent {
  color: var(--accent);
}
.secondary-accent {
  color: var(--secondary-accent);
}

.text-center {
  text-align: center;
}

.main-title {
  margin-bottom: var(--space-3x);
}
.text-marker {
  font-size: 1.333rem;
  font-weight: 600;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#input-wrapper > div {
  min-width: 350px;
  margin: var(--space-1x) 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2x);
  flex-wrap: wrap;
}
#input-wrapper input {
  padding: var(--space-1x) var(--space-2x);
  border: solid 1px var(--secondary-accent);
  border-radius: var(--space-2x);
  font-family: "Fredoka";
  font-size: 100%;
  color: var(--text);
}
#input-wrapper input:focus-visible {
  border: solid 1px var(--secondary);
  outline: 0px;
}
#input-wrapper .btn {
  flex-grow: 1;
}

#input-wrapper > div:last-child {
  margin-top: var(--space-3x);
}

#board {
  margin: var(--space-3x) auto;
  max-width: 450px;
  height: 450px;
  background: var(--secondary-accent);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2px;
}
.btn {
  padding: var(--space-1x) var(--space-3x);
  outline: 0px;
  border: 0px;
  font-size: 1.333rem;
  border-radius: var(--space-2x);
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
}
.btn-primary {
  background-color: var(--accent);
  color: var(--bg-primary);
}
.btn-cell {
  background: var(--bg-primary);
  padding: var(--space-1x);
  border: 0;
  font-size: 3.158rem; /* h2 */
  font-weight: 700;
  font-family: "Fredoka";
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: var(--space-1x);
  margin: var(--space-3x) 0;
}
#card-wrapper {
  margin: var(--space-3x) 0px;
  display: flex;
  justify-content: center;
  gap: var(--space-4x);
}
#card-wrapper .card-marker {
  font-weight: 700;
}
.highlighted-cell {
  color: var(--success);
}
.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1x);
}
.card-marker {
  padding: 0px var(--space-1x);
  border-radius: 50%;
}
.p1-card {
  color: var(--primary);
}
.p2-card {
  color: var(--secondary);
}
.p1-marker-inactive {
  color: var(--primary);
  background: var(--bg-primary);
}
.p1-marker-active {
  color: var(--bg-primary);
  background: var(--primary);
}
.p2-marker-inactive {
  color: var(--secondary);
  background: var(--bg-primary);
}
.p2-marker-active {
  color: var(--bg-primary);
  background: var(--secondary);
}

#msg {
  text-align: center;
  color: var(--accent);
  font-weight: 600;
}

.hidden {
  display: none;
}
